.hero {
  position: relative;
  margin-top: 0;
  width: auto;
  height: 528px;
  background: rgba(48, 42, 83) url(../image/back-text.png) center no-repeat;
  background-position: 50% 70%;
}

/* @media (max-width: 1920px) {
} */
